/* CSSのリセット（消さないでください） */



body {
 margin:0;
 min-height:100vh;
 display:grid;
 grid-template:
 	    "... ...... ...... ...... ...... ...... ..." 30px
      "... header header header header header ..." 150px
      "... ...... ...... ...... ...... ...... ..." 10px
      "... left   ...... center ...... right  ..." 1fr
      "... ...... ...... ...... ...... ...... ..." 10px
      "... footer footer footer footer footer ..." 200px
      "... ...... ...... ...... ...... ...... ..."
      / auto 150px 10px 1fr 10px   200px auto;
}


/* ここからCSSを記述してください */
header{
  background-color:red;
  color:white;
  grid-area:header;

}

nav{
  background-color:blue;
  color:white;
 grid-area:left;
}
main{
  background-color:yellow;
  grid-area:center;
}
aside{
  background-color:green;
  color:white;
  grid-area:right;
}
footer{
  background-color:black;
  color:white;
  grid-area:footer;
}

@media screen and (max-width: 1000px){
	body{
		grid-template:
			"header"150px
			"left  "
			"center" 1fr
			"right "
			"footer" 300px;

}
}
