body {
    margin: 0;              /*bodyのmarginを消す*/
    /* mainとasideを横並びにする */
    display: flex;          
    min-height: 100vh;      /*bodyの高さを最大まで広げる*/
    
}
main {
    width: 700px;
    margin: 0 auto;
    /* flex: 1; */
    background-color: red;
}

aside {
    width: 25%;
    min-width: 250px;       /*横幅を縮めても250px以下にはならない*/
    display: flex;          /*ulとdivを一回横並びにする*/
    flex-direction: column; /*横並びにしたものを縦に戻す*/
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: blue;
}

div {
    height: 300px;
    background-color: chartreuse;
    margin-top: auto;       /*flexを入れたことによってdivの位置を調整できる*/
}